.artists-page {
	section {
		padding:0 0 16rem 0;

		@media only screen and (max-width: 768px){
			padding:0 0 10rem 0;			
		}
	}
}

.header-tyler {
	background-image: url("img/tyler-hero.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: Montserrat;
	font-weight: 500;
	color: $gold;
	position: relative;

	// @media only screen and (max-width: 990px){
	// 	background-position: 25% 55%;
	// }
	
	.nav-wrap {
		background-color: rgba(26,27,32,0.5);
		border-bottom: 1px solid $gold;

		@media only screen and (max-width: 990px){
			border-bottom: none;
		}

		.custom-toggler {
			border: none;
			.navbar-toggler-icon {
 				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,192,115)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 				font-size: 14px;
			}
		}

		.brand-text {
			@media only screen and (max-width: 812px){
				display: none;
			}
		}		
	}

	.navbar-nav>.nav-item>.nav-link:link,
	.navbar-nav>.nav-item>.nav-link:visited {
		padding: 2rem;
		color: $gold;

		@media only screen and (max-width: 812px){
			padding:1rem;
		}		
	}

	&__text-box {
		font-family: DecadentaFrax;
		letter-spacing: 2px;
		text-align: center;
		position: absolute;
		top: 70%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
    	-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		.heading-primary {			
			display: block;	
			font-size: 15rem;

			@media only screen and (max-width: 812px){
				font-size: 10rem;
			}

			@media only screen and (max-width: 768px){
				font-size: 12rem;
			}
		}
	}	
}